vpc_name              = "togglemaster-fase3-vpc"
cluster_name          = "togglemaster-fase3-eks"
eks_cluster_role_name = "ROLE_DO_CLUSTER"
eks_node_role_name    = "ROLE_DO_NODEGROUP"

auth_db_username = "auth_user"
auth_db_password = "CHANGE_ME"